services:
  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=cracha_user
      - POSTGRES_PASSWORD=cracha123
      - POSTGRES_DB=cracha_virtual_dev
    ports:
      - "5433:5432"
    volumes:
      - db_data_dev:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U cracha_user -d cracha_virtual_dev" ]
      interval: 5s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    healthcheck:
      test: [ "CMD", "rabbitmqctl", "status" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./cracha-virtual-system
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://cracha_user:cracha123@db:5432/cracha_virtual_dev?schema=public
      - JWT_SECRET=cracha_virtual_jwt_secret_key_2023
      - PORT=3000
      - NODE_ENV=development
      - PUBLIC_API_URL=http://localhost:3000/api
      - AMQP_URL=amqp://guest:guest@rabbitmq:5672
      - REDIS_URL=redis://redis:6379
      - PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ./cracha-virtual-system:/app
      - /app/node_modules
    command: node server.js

volumes:
  db_data_dev:
